* {
    box-sizing: border-box;
  }
  
  *:before, *:after {
    box-sizing: inherit;
  }

#wrapper{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

#content{
    background-color: #1f2f56;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;    
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
}